// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bulma + Bulmaswatch Theme
@import '~bulmaswatch/darkly/_variables';
@import '~bulma/bulma';
@import '~bulmaswatch/darkly/_overrides';

// Bulma Plugins
@import '@creativebulma/bulma-tooltip';

// Custom Styles
@import 'pages/report';
